/**/*.mp4
/**/*.pdf
/**/*.ppt
/**/*.pptx
/**/*.zip
/**/*.txt
/**/*.csv
/**/*.html
/**/*.png
/**/*.out
/**/sample-io
/**/sample-io_test
/Offline 1/output_dir
/Offline 1/offline-testcase
/Old batch material
/Offline 2/Thread Example
/Offline 3/xv6
/Xv6
/**/*.vscode
/Test
/page


